<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Our company provides services for automatization business process.<br>
  One of the main activities is the development of specific solutions for <a href='http://www.oracle.com/us/products/applications/siebel/overview/index.html'>Siebel CRM system</a>, the expansion of its standard functionality as separate modules. Our products help your business becomes successful.
  In our work we use only modern technology and programming languages​​.
</p>

<h2>About our products</h2>
<p>
Product modularity allows your company to save money and time, this is achieved by the fact that you do not need to hire highly paid developers to implement the functionality that has been developed by us. All you need - this is only module configuration and use.
</p>

<p>If you did not find the desired product in the <%= link_to "list of our products",   microposts_path %>, you can order its development. We are ready to undertake the development of any complexity.</p>