<% provide(:title, 'Contact') %>
<h1>Contact</h1>
If you are interested in some our product and want to get it, please contact us.<br>
<p>
  Email: <%= mail_to "bizlogiccompany@gmail.com" %>
</p>
<!--<p>
  Skype: dovnard
</p>-->
