<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <%= image_tag("logo.png", alt: "Oracle Siebel CRM") %>
  <h1>BizLogic Systems</h1>

  <!--<h2>
    Сайт вакансий по 
    <a href="http://railstutorial.org/">Siebel CRM</a>
    системе.
  </h2>-->
  <!-- link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"-->
</div>

<table>
	<tr>
		<td>
			<%= link_to image_tag("Siebel_logo.jpg", alt: "Oracle Siebel CRM"), 'http://www.oracle.com/us/products/applications/siebel/overview/index.html' %>
		</td>
		<td>
			Development of modular solutions for Sibel CRM system.
			<ul>
				<li>Integration Solutions</li>
				<li>Improve the existing functionality</li>
				<li>Solutions for business and customer interaction</li>
			</ul>
		</td>
	</tr>
</table>