<footer class="footer">
  <small>
    <a href="http://bizlogic.ua/">BizLogic Systems</a>
    &nbsp;&nbsp;2014
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <!--<li><a href="http://news.railstutorial.org/">News</a></li>-->
    </ul>
  </nav>
  <br>
  <small>
	&copy; Siebel CRM, Java and all Java-based trademarks and logos are trademarks or registered trademarks of Oracle and/or its affiliates
  </small>
</footer>